*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/pic1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    float: left;
    height: 70px;
}

.title{
    color:white;
    font-size: 35px;
    font-family:Arial;
    font-weight: bold;
    padding-left: 20px;
    float:left;
    padding-top: 10px;

}
.photo{
    width: 200px;
    clip-path: circle();
    position: absolute;
    top: 50px;
    left: 650px;
}

.name{
    color: white;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 260px;
    left: 665px;
}

.content{
    width: 700px;
    height: auto;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ;
    color: white;
    position: absolute;
    top: 350px;
    left: 0px;
    border-radius: 10px;
    padding: 25px;
   
}

.content .par{
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    width: 900px;
    height: auto;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ;
    color: white;
    position: absolute;
    top: 200px;
    left: 565px;
    border-radius: 10px;
    padding: 25px;
}

.photography{
    color: olive;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 860px;
    left: 665px;
}

.photo1{
    width: 500px;
    clip-path:none;
    position: absolute;
    top: 1000px;
    left: 250px;
}

.photo2{
    width: 500px;
    clip-path:none;
    position: absolute;
    top: 1000px;
    left: 800px;
}

.photo3{
    width: 500px;
    clip-path:none;
    position: absolute;
    top: 1400px;
    left: 250px;
}

 .photo4{
    width: 500px;
    clip-path: none;
    position: absolute;
    top: 1400px;
    left: 800px;
}